XSDstorage/oglasi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Oglasi">
    <xs:complexType>
      <xs:sequence>



        <xs:element name="Oglas" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>

              <xs:element type="xs:integer" name="KategorijaOglasa"/>
              
              <xs:element  name="DatumIsteka">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(((20[012]\d|19\d\d)|(1\d|2[0123]))-((0[0-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01])))|(((0[1-9])|([12][0-9])|(3[01]))-((0[0-9])|(1[012]))-((20[012]\d|19\d\d)|(1\d|2[0123])))|(((20[012]\d|19\d\d)|(1\d|2[0123]))\/((0[0-9])|(1[012]))\/((0[1-9])|([12][0-9])|(3[01])))|(((0[0-9])|(1[012]))\/((0[1-9])|([12][0-9])|(3[01]))\/((20[012]\d|19\d\d)|(1\d|2[0123])))|(((0[1-9])|([12][0-9])|(3[01]))\/((0[0-9])|(1[012]))\/((20[012]\d|19\d\d)|(1\d|2[0123])))|(((0[1-9])|([12][0-9])|(3[01]))\.((0[0-9])|(1[012]))\.((20[012]\d|19\d\d)|(1\d|2[0123])))|(((20[012]\d|19\d\d)|(1\d|2[0123]))\.((0[0-9])|(1[012]))\.((0[1-9])|([12][0-9])|(3[01])))"/>
                    </xs:restriction>
                  </xs:simpleType>
              </xs:element>   
              
              <xs:element  name="Deskripcija">
                <xs:simpleType> 
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"/>
                        <xs:maxLength value="180"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="Email" >
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="EmailRestriction">
                      <xs:attribute name="pristup" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="privatni" />
                            <xs:enumeration value="sluzbeni" />
                          </xs:restriction>
                      </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  
  <xs:simpleType name="EmailRestriction">
    <xs:restriction base="xs:string">
        <xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
    </xs:restriction>
</xs:simpleType>

</xs:schema>