XSDstorage/oglasi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ads">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ad" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>

              <xs:element type="xs:string" name="Category"/>
              
              <xs:element  name="Date">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(0[1-9]|1[0-9]|2[0-9]|3[0-1]).(0[1-9]|1[0-2]).(202[3-9]|20[3-9][0-9])."/>
                    </xs:restriction>
                  </xs:simpleType>
              </xs:element>   
              
              <xs:element  name="Description">
                <xs:simpleType> 
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"/>
                        <xs:maxLength value="180"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="Tagovi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element  name="Tag" maxOccurs="unbounded" minOccurs="0" type="xs:string">
                      </xs:element> 
                    </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="Email" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  <xs:element name="typeOfmail" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="EmailRestriction" >
                      <xs:attribute name="type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="private" />
                            <xs:enumeration value="business" />
                          </xs:restriction>
                      </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  </xs:sequence>
                  
                </xs:complexType>
              </xs:element>

              

              <xs:element name="Price">             
                <xs:complexType>         
                 <xs:simpleContent>   
                    <xs:extension base="PriceRestriction">
                      <xs:attribute  name="currency" use="required">
                          <xs:simpleType>
                              <xs:restriction base="xs:string">
                                  <xs:enumeration value="rsd"></xs:enumeration>
                                  <xs:enumeration value="pounds"></xs:enumeration>
                                  <xs:enumeration value="euros"></xs:enumeration>
                                  <xs:enumeration value="dollars"></xs:enumeration>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>  
                    </xs:extension>
                </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  
  <xs:simpleType name="EmailRestriction">
    <xs:restriction base="xs:string">
        <xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PriceRestriction">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"></xs:minExclusive> 
        </xs:restriction>
</xs:simpleType>

<xs:simpleType name="CategoryRestriction">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Stanovi"></xs:enumeration>
    <xs:enumeration value="Alati"></xs:enumeration>
    <xs:enumeration value="Automobili"></xs:enumeration>
    <xs:enumeration value="Telefoni"></xs:enumeration>
  </xs:restriction>
</xs:simpleType>
</xs:schema>