DTDstorage/oglasi.dtd


<!ELEMENT Oglasi (Oglas+)>
<!ELEMENT Oglas (Kategorija,DatumIsteka,Cena,Deskripcija,Tagovi*,Email)>
<!ELEMENT Kategorija (#PCDATA)>
<!ELEMENT DatumIsteka (#PCDATA)>
<!ELEMENT Cena (#PCDATA)>
<!ATTLIST Cena valuta (rsd | euros | pounds | dollars) #REQUIRED>
<!ELEMENT Deskripcija (#PCDATA)>
<!ELEMENT Tagovi (Tag+)>
<!ELEMENT Tag (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ATTLIST Email pristup (privatni | sluzbeni) #REQUIRED>
