DTDstorage/oglasi.dtd


<!ELEMENT Ads (Ad+)>
<!ELEMENT Ad (Category,Date,Price,Description,Tags*,Email)>
<!ELEMENT Category (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ATTLIST Price currency (rsd | euros | pounds | dollars) #REQUIRED>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Tags (Tag+)>
<!ELEMENT Tag (#PCDATA)>
<!ELEMENT Email (typeOfmail+)>
<!ELEMENT typeOfmail (#PCDATA)>
<!ATTLIST typeOfmail type (private | business) #REQUIRED>
